<p id="notice"><%= notice %></p>
<div class="form-devise">
  <h2>Reading Details</h2>
  <p>
    <strong>Reading:</strong>
    <%= @reading.reading %>
  </p>

  <p>
    <strong>Reading date:</strong>
    <%= @reading.reading_date %>
  </p>
  <%= link_to 'Edit', edit_reading_path(@reading), class: 'btn btn-primary' %>
  <hr>
  <%= link_to 'Back', readings_path %>
</div>
