<p id="notice"><%= notice %></p>

<p>
  <strong>Reading:</strong>
  <%= @reading.reading %>
</p>

<p>
  <strong>Reading date:</strong>
  <%= @reading.reading_date %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
