<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Meter-Man</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
  <% if user_signed_in? %>
    <li><p><%= current_user.email%></p>
    </li>
  <% end %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
      <% if user_signed_in? %>
        <li><%= link_to(' Logout', destroy_user_session_path, :method => :delete, class: "fa fa-sign-out fa-fw") %></li>
        <li class="divider"></li>
        <li><%= link_to(' Edit registration', edit_user_registration_path, class: "fa fa-user fa-fw" ) %></li>
      <% else %>
        <li><%= link_to(' Login', new_user_session_path, class: "fa fa-sign-in fa-fw")  %></li>
        <li class="divider"></li>
        <li><%= link_to(' Register', new_user_registration_path, class: "fa fa-user fa-fw")  %></li>
      <% end %>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

</nav>
